<div class="container mt-4">

    <div class="card shadow border-0">

        <div class="card-body">

            <h2 class="mb-4">

                Áreas Registradas

            </h2>

            <table class="table table-hover">

                <thead>

                    <tr>

                        <th>ID</th>
                        <th>Área</th>
                        <th>Salario</th>

                    </tr>

                </thead>

                <tbody>

                    <tr
                    *ngFor="
                    let area of areas
                    ">

                        <td>

                            {{
                            area.AreCodigo
                            }}

                        </td>

                        <td>

                            {{
                            area.AreNombreArea
                            }}

                        </td>

                        <td>

                            S/
                            {{
                            area.AreSalario
                            }}

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>